#username-holder {
  display: grid;
  grid-template-columns: 100%;
  justify-self: center;
  text-align: center;
}

#results {
  margin-top: 25vh;
  height: 55vh;
}

#order-button {
  border: none;
  background-color: transparent;
  grid-column: span 3;
}

#profile-actions {
  border: none;
  background-color: transparent;
}

#all-orders {
  grid-template-columns: 65vw;
  height: 0;
  margin: 0;
}

#all-items {
  grid-template-columns: 65vw;
  height: 0;
  margin: 0;
}

#all-machines {
  margin: 0;
  height: 0;
  grid-template-columns: 65vw;
}

.entry-div {
  padding-bottom: 70px;
  background-color: transparent;
  row-gap: 35px;
  border: none;
  grid-template-columns: auto auto auto !important;
}

.entry-div .grid-item {
  font-size: 20px;
}

.entry-div p {
  margin-top: 5px;
}

.salable-btn {
  font-size: 15px !important;
  border-radius: 0;
  height: 40px;
  background-color: rgb(255, 219, 172);
}

.production-btn {
  font-size: 15px !important;
  justify-content: center;
  border-radius: 0;
  height: 45px;
  background-color: rgb(255, 219, 172);
}

.dropdown-content {
  margin-top: 50px;
  border: none;
  background-color: transparent !important;
  display: none;
  position: absolute;
  z-index: 1;
  font-size: 15px !important;
  border-radius: 0;
  height: 40px;
  background-color: rgb(255, 219, 172);
}

.dropbtn {
  cursor: pointer;
  font-size: 15px !important;
  border-radius: 0;
  height: 40px;
  background-color: rgb(255, 219, 172);
}

.show {
  display: block;
}
